@import url("https://fonts.googleapis.com/css2?family=Jersey+20&display=swap");

@import "tailwindcss";

@theme {
  --color-bg-main: #ffeecc;
  --color-denim: #253551;

  --font-jersey: "Jersey 20", sans-serif;
}

@layer base {
  body {
    @apply bg-bg-main;
  }
}

@keyframes swell {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.animate-swell {
  animation: swell 2s ease-in-out infinite;
}